@import "./../../../scss/variables";

/*  main-containers */
.main-container {
  padding: 20px 15px;
  margin-left: 25%;
}

.right-container {
  padding: 0px 0px 0px 35px;
  width: 900px;
}
.left-container {
  display: $inlineDisplay;
}

.pname-container {
  display: $inlineDisplay;
  max-height: 3rem;
  padding: $noPadding !important;
}

.price-container {
  display: $blockDisplay !important;
}

.left-col {
  display: $blockDisplay;
  max-width: 700px !important;
  padding: $noPadding !important;
}

.product-details {
  line-height: $productLineHeight;
}

#artist-name {
  font-size: 3rem;
  font-weight: 700;
}

#album-name {
  font-size: 2.6rem;
  font-weight: 300;
  margin-right: 100% !important;
}

#price {
  line-height: $productLineHeight;
  display: $blockDisplay;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 400;
}

.album-content {
  margin: 10px;
}

.popover-body {
  color: $textDarkColor;
  font-size: 0.7rem !important;
  padding: 5px !important;
}

.wishlist-link {
  color: $textDarkColor;
}

.wishlist-link:hover {
  color: $accentColor;
}

button.dropdown-toggle {
  background: rgb(254, 254, 254) !important;
  border-radius: 0px;
  color: $textDarkColor;
  font-size: 0.8rem;
  font-weight: 400 !important;
  padding: 3px 40px;
  margin-top: 10px;
  width: 185px;
  margin: 10px 70% 0px 0px;
}

.btn-secondary.dropdown-toggle:focus {
  color: rgb(55, 55, 55) !important;
  box-shadow: $noBoxShadow !important;
}

.btn-secondary.dropdown-toggle:hover {
  background: rgb(242, 242, 242) !important;
}

button,
select {
  color: rgb(55, 55, 55) !important;
}

hr {
  width: 100%;
}

.tracks-dropdown.dropdown-menu.show {
  padding: 0 !important;
  border-radius: 0 !important;
  width: 185px;
}

td,
th {
  border: 0.5px solid $textDarkColor;
  text-align: left;
  padding: 3px 4px !important;
  border: $noBorder;
}

td {
  font-size: 0.8rem;
}

th {
  font-weight: 500 !important;
  font-size: 0.8rem;
}

table {
  margin-bottom: 0px !important;
}

button#cart-button {
  color: $textLightColor !important;
  font-weight: 600;
  border-radius: 0;
  height: 50px;
  width: 185px;
  margin-top: 5rem;
  font-size: 0.9rem;
  border: $noBorder;
  box-shadow: $noBoxShadow !important;
  background-image: linear-gradient(
    45deg,
    black 50%,
    rgb(255, 174, 0) 50%
  ) !important;
  background-size: 250% 100% !important;
  background-position: left top !important;
  transition: background-position 0.5s ease !important;
  margin-right: 410px;
}

button#cart-button:hover {
  background-position: right bottom !important;
}

#artistImage {
  height: 131px;
  margin-left: 55px !important;
  display: $inlineDisplay;
}

.record-lable-text {
  font-size: 0.75rem !important;
}

@media screen and (max-width: 1300px) {
  .main-container {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1000px) {
  #artist-name {
    font-size: 2rem;
    font-weight: 700;
  }

  #album-img {
    min-width: 300px;
  }

  .right-container {
    padding: 0px 0px 0px 18px !important;
    margin-right: 7rem !important;
  }

  #price {
    font-size: 1.5rem;
  }

  #album-name {
    font-size: 1.4rem;
  }

  .right-container {
    padding: 0px 0px 0px 35px;
    width: 625px;
  }

  .icon {
    display: $inlineDisplay;
  }

  .album-name-div {
    display: $blockDisplay;
  }

  #artistImage {
    height: 115px;
    display: inline-block;
  }
}

@media screen and (max-width: 725px) {
  .main-container {
    flex-direction: column !important;
  }

  .product-details {
    margin-top: 2rem;
  }

  #album-img {
    margin: 0 auto !important;
  }

  #artist-name {
    margin: 0 !important;
    font-size: 1.5rem !important;
  }

  .right-container {
    padding: 30px 0px 0px 18px !important;
    margin-right: 7rem !important;
  }

  #price {
    font-size: 1rem !important;
    display: $blockDisplay !important;
  }

  button.dropdown-toggle {
    margin-right: 447px !important;
  }

  #artistImage {
    height: 105px !important;
    margin-left: 80px !important;
    display: $inlineBlockDisplay;
  }
}
