@import "./../../scss/variables";

$solidBgColor: rgba(
  $color: $secondaryColor,
  $alpha: 1,
);

header {
  position: relative;
  width: 100%;
  ion-icon {
    color: $primaryColor;
    width: 100%;
    height: 100%;
  }
  ion-icon:hover,
  ion-icon:focus {
    color: $accentColor;
  }
}

.navbar.navbar-light .navbar-toggler {
  border-color: rgba($color: #000000, $alpha: 0);
  outline: none;
}

.customNavbar {
  color: $primaryColor;
  background-color: rgba($color: $secondaryColor, $alpha: 0.5);
  transition: background-color ease-in 0.3s;
}

.customNavbar:hover {
  background-color: $solidBgColor;
}

.solid {
  background-color: $solidBgColor;
}
