@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap");

/*  main-containers */
.main-container {
  padding: 20px 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.left-container {
  display: inline;
}

.right-container {
  display: inline;
}

.left-col {
  display: block;
  max-width: 700px !important;
  padding: 0 !important;
}

.product-details {
  font-family: "Archivo", sans-serif !important;
  line-height: 1.1;
  padding: 0px 15px;
}

#artist-name {
  font-size: 2.5rem;
  font-weight: 700;
}

#album-name {
  font-size: 2.3rem;
  font-weight: 100;
}

#price {
  line-height: 1.1;
  display: block;
  font-size: 2rem;
}

.album-content {
  margin: 10px;
}

@media screen and (max-width: 1500px) {
.main-container {
  margin: 0 !important;
}

#album-img {
}
}


/* @media screen and (min-width: 960px) {
  /* .album-items-row {
    margin: auto !important;
  } 
} */

/* @media screen and (max-width: 670px) {
  .album-items-row {
    display: block !important;
  }

  .right-container {
    display: block !important;
  }

  .main-container {
    display: block;
  }
} */
