@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap");

/*  main-containers */
.main-container {
  padding: 20px 15px;
  margin-left: 25%;
}

.right-container {
  padding: 0px 0px 0px 35px;
  width: 800px;
}
.left-container {
  display: inline;
}

.pname-container {
  display: inline;
  max-height: 3rem;
  padding: 0px !important;
}

.price-container {
  display: block !important;
}

.left-col {
  display: block;
  max-width: 700px !important;
  padding: 0 !important;
}

.product-details {
  font-family: "Archivo", sans-serif !important;
  line-height: 1.1;
}

#artist-name {
  font-size: 3rem;
  font-weight: 700;
}

#album-name {
  font-size: 2.6rem;
  font-weight: 300;
}

#price {
  line-height: 1.1;
  display: block;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 400;
}

.album-content {
  margin: 10px;
}

.favorites-popover {
  margin-left: 0 !important;
  color: white !important;
}

.popover-body {
  color: white !important;
  font-family: "Archivo", sans-serif !important;
  font-size: .7rem;
  padding: 1px !important;
}

.favorite-container {
  color: white !important;
}

@media screen and (max-width: 640px) {
  .main-container {
    flex-direction: column !important;
  }

  .product-details {
    margin-top: 2rem;
  }

  #album-img {
    margin: 0 auto !important;
  }

  #artist-name {
    margin: 0 !important;
    font-size: 1.5rem !important;
  }

  .right-container {
    padding-top: 30px !important;
  }

  #price {
    font-size: 1rem !important;
    display: block !important;
  }
}

@media screen and (max-width: 900px) {
  #artist-name {
    font-size: 2rem;
    font-weight: 700;
  }

  .right-container {
    padding: 0px 0px 0px 10px;
    margin-right: 7rem !important;
  }

  #price {
    font-size: 1.5rem;
  }

  #album-name {
    font-size: 1.4rem;
  }

  .right-container {
    padding: 0px 0px 0px 35px;
    width: 625px;
  }

  .icon {
    display: inline;
  }

  .album-name-div {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .main-container {
    margin: 0 !important;
  }
}

/* @media screen and (min-width: 960px) {
  /* .album-items-row {
    margin: auto !important;
  } 
} */

/* @media screen and (max-width: 670px) {
  .album-items-row {
    display: block !important;
  }

  .right-container {
    display: block !important;
  }

  .main-container {
    display: block;
  }
} */
