/*  main-containers */

.top-container {
  width: 100% !important;
}
.left-container {
  display: inline;
  width: 400px !important;
  background: black;
}

.right-container {
  display: inline;
  width: 30%;
  background: green;
}
