@import "../../../../../scss/variables";
.CarouselItem {
  position: relative;
}

.blackbars {
  margin: auto;
}

.dropShadow {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.backgroundImg {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  z-index: -1;
}

.captions {
  width: 100%;
  left: 0;
  right: 0;
  z-index: 0;
}

@media only screen and (max-width: $screen-sm) {
  .blackbars {
    width: 100%;
  }
}
